.container {
    text-align: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 40%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #eee;
}

.green {
    color: green;
}

.red {
    color: red;
}

.blue {
    color: blue;
}
